node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
/babel.config.js
/db.db
/package-lock.json
/package.json
/yarn.lock
/3.png
set_data.py
